@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'IBM Plex Mono';
}

h1
{
    color: white;
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content:baseline;
    align-items: center;
    background: #1A5692;
    transition: 0.5s;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}


header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    list-style: none;
}


header ul li a
{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
    cursor: pointer;
    transition: 0.5s;
}

header ul li a:hover
{
    transform: translateY(-15px);
    
}

.content
{
    color:#fff;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.content .textbox
{
    position: relative;
    max-width: 1200px;
}

.content h2
{
    color:#fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.content h3, .h3 {
    font-size:115px;
    color: rgb(153, 222, 241);
 }
 

.content h2 span
{
    font-size: 2em;
}

.content .textbox p
{
    color: #fff;
    font-size:20px;
}

.content .textbox a
{
    color:#fff;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
}

.content .card 
{
    max-width: 600px;
    border-radius: 50%;
    display: flex;
    padding-right: 300px;
    margin-top: 50px;
    justify-content:space-between;
}

.content .card .contact 
{
    margin-top: 10px;
    position: relative;
    top: 20px;
    gap: 10px;
    transition: 0.5s;
    flex-direction: column;
}

.content .card .contact li
{
    list-style: none;
    width: 100%;
    min-height: 60px;
    display:flex;
    background: rgb(153, 222, 241);
    border-radius: 10px;
    transition: 0.5s;
    gap: 100px;
    align-items: center;
    margin-bottom: 5px;
}

.iconBox
{
    font-size: 15px;
}

.content .card.active .contact li {
    opacity: 1;
	transition-delay: calc(0.25s * var(--i));
    
}

.content .card .contact li a 
{
    display: flex;
	align-items: center;
	text-decoration: none;
	gap: 10px
}

.content .card .contact li a p
{
    color: #666;
	font-size: 1.1em
}

.card .contact li a .iconBx i 
{
	color: #fff;
	font-size: 1.5em;
}

.content .card img 
{
    max-width: 26;
}


.content .card.active .contact:hover li 
{
	opacity: 0.15;
	filter: blur(2px);
	transition-delay: 0s;
}
.content .card.active .contact li:hover
{
	opacity: 1;
	filter: blur(0px);
}
.content .card .contact li a 
{
	display: flex;
	align-items: center;
	text-decoration: none;
	gap: 10px
}
.content .card .contact li a .iconBox 
{
	position: relative;
	width: 60px;
	height: 60px;
	background: var(--clr);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.content .card .contact li a .iconBox i 
{
	color: #fff;
	font-size: 1.5em;
}
.content .card .contact li a p 
{
	color: #666;
	font-size: 1.1em
}
.content .card .contact li a:hover p 
{
	color: #111;
}

.thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50px);
    display: flex;
}


.thumb li 
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover
{
    transform: translateY(-10px);
}

.thumb li img
{
    max-width: 40px;
}